body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
h2,h1,h4{
    font-weight: 700;
}
p{
    font-weight: 500;
}
#barrasuperior{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#listasuperior{
    display: flex;
    justify-content: space-around;
}
#lista1{
    padding: 0 1vh;
}
#boton1{
    padding: 2vh 4.5vh;
    border-radius: 20px;
    border-style: none;
    background-color: #F3603B;
    color: white;
}
#menu{
    display: none;
}
#primero{
    padding-top:10vh ;
    display: flex;
    justify-content: space-around;
}
#contenedor1{
    width: 25%;
}
#tituloprincipal{
    font-size: 320%;
}
#pcontenedor1{
    font-size: 130%;
}
#segundo{
    display: flex;
    justify-content: space-around;
    padding-top: 10vh;
}
#hijo1,#hijo2{
    width: 25%;
}
#titulohijo2{
    font-size: 200%;
}
#phijo2{
    font-size: 110%;
}
#li1::before{
    content: "01";
    padding: 1vh 2vh;
    margin: 1vh;
    background-color: #F3603B;
    border-radius: 10px;
    position: absolute;
    top: 96.5vh;
    left: 59vw;
    color: white;
}
#li2::before{
    content: "02";
    padding: 1vh 2vh;
    margin: 1vh;
    background-color: #F3603B;
    border-radius: 10px;
    position: absolute;
    top: 118vh;
    left: 59vw;
    color: white;
}
#li3::before{
    content: "03";
    padding: 1vh 2vh;
    margin: 1vh;
    background-color: #F3603B;
    border-radius: 10px;
    position: absolute;
    top: 139.5vh;
    left: 59vw;
    color: white;
}
#pli{
    color: #B3B2B7;
}
#titulo3{
    text-align: center;
    font-size: 220%;
    
}
#tercero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FAFAFA;
}
#hijo{
    text-align: center;
    width: 20%;
}
#ptercero{
    color:#B9B9C1;
}
.posboton1{
    margin-top: 3vh;
    position: relative;
    left: 45%;
}
#pieImagen{
    display: none;
}
#primerfooter{
    display: flex;
    justify-content: space-between;
    background-color: #F3603B;
    height: 20vh;
    align-items: center;
    margin-top: 5vh;
    color: white;
}
.titulofooter{
    font-size: 200%;
    width: 25%;
    margin-left: 3vw;
}
#boton2{
    padding: 2vh 4.5vh;
    border-radius: 20px;
    border-style: none;
    color: #F3603B;
    background-color: white;
    margin-right:6.5vw ;
}
#listafooter{
    display: flex;
    justify-content: space-between;
    margin-left: 2vw;
}
#segundofooter{
    color: white;
    background-color: #1E1E26;
    display: flex;
    justify-content: space-around;
    height: 20vh;
}
#subfooter1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 400;
}
#subfooter2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 400;
    margin: 1vh 3vw;
}
.subfootercelu3{
    position: relative;
    bottom: 25%;
}
#iconos{
    display: flex;
    justify-content: space-between;
}
.subfooter3{
    height: 10vh;
}
.subfootercelu{
    margin-bottom: 10vh;
}
#copyright{
    font-size: 60%;
    color: #8C8C94;
    position: absolute;
    right: 15%;
    top: 250%;
}
#form{
    padding: 1.5vh 2vw;
    border-radius: 15px;
    border-style: none;
    font-weight: 600;
}
#boton4{
    padding: 1.5vh 1.5vw;
    border-radius: 20px;
    border-style: none;
    background-color: #F3603B;
    margin-left: 1vw;
}
button:hover{
    transform: scale(1.2);
    cursor: pointer;
}
input:hover{
    background-color: lightblue;
}
input:focus{
    background-color:rgb(153, 250, 213);
}

@media (max-width: 700px){
    body{
        background-image: url(../Img/fondo2.svg);
        background-repeat: repeat-y;
        background-position: 0 -10%;
    }
    #listasuperior{
        display: none;
    }
    #menu{
        display: inline;
    }
    .botonuno{
        display: none;
    }
    #barrasuperior{
        justify-content: space-between;
    }
    #logosuperior{
        margin-left: 3vh;
    }
    #primero{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-right: 3vw;
    }
    #contenedor1{
        width: 90%;
        text-align: center;
        padding-left:5vh ;
    }
    #pcontenedor1,#phijo2{
        color: #B9B9C1;
    }
    #contenedor2{
        width: 100%;
        margin-left: 4vw;
    }
    #li1,#li3,#li2{
        background-color: rgb(255, 242, 234);
        padding: 1.2vh 0;
        border-radius: 20px 0px 0px 20px;
    }
    #li1::before{
        position: relative;
        left: 0%;
        top: 0%;
    }
    #li2::before{
        position: relative;
        left: 0%;
        top: 0%;
    }
    #li3::before{
        position: relative;
        left: 0%;
        top: 0%;
    }
    #segundo{
        flex-wrap: wrap;
    }
    #hijo1,#hijo2{
        width: 85%;
    }
    #hijo1{
        text-align: center;
    }
    .personaDyI{
        display: none;
    }
    #tercero{
        margin-left: 6vw;
    }
    #hijo{
        width: 70%;
    }
    #contenedorcelular{
        display: flex;
        flex-direction: column;
        
    }
    #pieImagen{
        display: inline;
        width: 20%;
        position: relative;
        left: 42%;
        padding: 3vh 0 ;
    }
    .posboton1{
        position: relative;
        left: 31%;
        width: 40%;
    }

    #primerfooter{
        flex-direction: column;
        height: 30vh;
        justify-content: center;
    }
    
    .titulofooter{
        width: 60%;
        text-align: center;
    }
    #boton2{
        position: relative;
        left: 3%;
    }
    #segundofooter{
        padding: 7vh 0vh 20vh;
        flex-direction:row-reverse;
        flex-wrap:wrap-reverse
    }
    #subfooter1{
        flex-direction: column-reverse;
        justify-content: space-between;
        position: absolute;
        top: 345vh;
    }
    #subfooter2{
        padding-right: 5vw;
    }
    #iconos{
        padding: 5vh 0 ;
    }
    #copyright{
        position: absolute;
        right: 32vw;
        top: 362vh;
    }
    #formulario{
        width: 130%;
    }
    #boton4{
        width: 20%;
    }
} 
